<a href="https://colab.research.google.com/github/satyhim/Project-2-Bangalore_Cafe/blob/main/Rough_Book1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('/content/drive/MyDrive/Python/Project/Bangalore_Cafe_Zomato.csv')
df.head()

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari
1,Penthouse Cafe,Yes,No,4.0/5,324,Banashankari,Cafe,"Pizza, Mocktails, Coffee, Nachos, Salad, Pasta...","Cafe, Italian, Continental",700,NaN,NaN
2,Smacznego,Yes,No,4.2/5,504,Banashankari,Cafe,"Waffles, Pasta, Coleslaw Sandwich, Choco Waffl...","Cafe, Mexican, Italian, Momos, Beverages",550,Cafes,Banashankari
3,CafÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ© Down The A...,Yes,No,4.1/5,402,Banashankari,Cafe,"Waffles, Pasta, Crispy Chicken, Honey Chilli C...",Cafe,500,Cafes,Banashankari
4,Cafe Shuffle,Yes,Yes,4.2/5,150,Banashankari,Cafe,"Mocktails, Peri Fries, Lasagne, Pizza, Chicken...","Cafe, Italian, Continental",600,Cafes,Banashankari

In [13]:
df.rename(columns = {'listed_in(city)':'Area_Name'}, inplace = True)
df.head(20)

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type),Area_Name
0,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari
1,Penthouse Cafe,Yes,No,4.0/5,324,Banashankari,Cafe,"Pizza, Mocktails, Coffee, Nachos, Salad, Pasta...","Cafe, Italian, Continental",700,NaN,NaN
2,Smacznego,Yes,No,4.2/5,504,Banashankari,Cafe,"Waffles, Pasta, Coleslaw Sandwich, Choco Waffl...","Cafe, Mexican, Italian, Momos, Beverages",550,Cafes,Banashankari
3,CafÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ© Down The A...,Yes,No,4.1/5,402,Banashankari,Cafe,"Waffles, Pasta, Crispy Chicken, Honey Chilli C...",Cafe,500,Cafes,Banashankari
4,Cafe Shuffle,Yes,Yes,4.2/5,150,Banashankari,Cafe,"Mocktails, Peri Fries, Lasagne, Pizza, Chicken...","Cafe, Italian, Continental",600,Cafes,Banashankari
5,The Coffee Shack,Yes,Yes,4.2/5,164,Banashankari,Cafe,"Coffee, Spaghetti, Pancakes, Nachos, Pasta, Sa...","Cafe, Chinese, Continental, Italian",500,Cafes,Banashankari
6,Caf-Eleven,No,No,4.0/5,424,Banashankari,Cafe,"Sandwich, Omelette, Ice Tea, Virgin Mojito, Ho...","Cafe, Continental",450,Cafes,Banashankari
7,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Cafes,Banashankari
8,Cafe Vivacity,Yes,No,3.8/5,90,Banashankari,Cafe,"Garlic Bread, Burgers, Sandwiches, Pizza, Hot ...",Cafe,650,Cafes,Banashankari
9,Catch-up-ino,Yes,No,3.9/5,133,Banashankari,Cafe,"Momos, Mushroom Bruschettas, Jalapeno Cheeseba...","Cafe, Fast Food, Continental, Chinese, Momos",800,Cafes,Banashankari
10,Kirthi's Biryani,Yes,No,3.8/5,144,Banashankari,Cafe,"Pasta, Gelato, Garlic Bread, Mojito, Nachos, P...","Chinese, Cafe, Italian",700,Cafes,Banashankari
11,T3H Cafe,No,No,3.9/5,93,Banashankari,Cafe,"Cheese Maggi, Peri Peri Fries, Pasta Arrabiata","Cafe, Italian, American",300,Cafes,Banashankari
12,360 Atoms Restaurant And Cafe,Yes,No,3.1/5,13,Banashankari,Cafe,NaN,"Cafe, Chinese, Continental, Italian",400,Cafes,Banashankari
13,The Vintage Cafe,Yes,No,3.0/5,62,Banashankari,Cafe,"Burgers, Caramel Milkshake, Iced Coffee, Iced Tea","Cafe, French, North Indian",400,Cafes,Banashankari
14,Woodee Pizza,Yes,No,3.7/5,180,Banashankari,Cafe,"Pizza, Garlic Bread","Cafe, Pizza, Fast Food, Beverages",500,Cafes,Banashankari
15,Cafe Coffee Day,No,No,3.6/5,28,Banashankari,Cafe,NaN,"Cafe, Fast Food",900,Cafes,Banashankari
16,Hide Out Cafe,No,No,3.7/5,31,Banashankari,Cafe,NaN,Cafe,300,Cafes,Banashankari
17,CAFE NOVA,No,No,3.2/5,11,Banashankari,Cafe,NaN,"Cafe, Bakery",600,Cafes,Banashankari
18,Coffee Tindi,Yes,No,3.8/5,75,Banashankari,"Cafe, Quick Bites",NaN,"Cafe, South Indian",200,Cafes,Banashankari
19,Sea Green Cafe,No,No,3.3/5,4,Banashankari,Cafe,NaN,"Cafe, Fast Food, Beverages",500,Cafes,Banashankari

In [18]:
df.loc[df['name'].str.contains('Ã', case=False), 'name_1'] = 'Ã'
df

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type),Area_Name,name_1
0,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari,NaN
1,Penthouse Cafe,Yes,No,4.0/5,324,Banashankari,Cafe,"Pizza, Mocktails, Coffee, Nachos, Salad, Pasta...","Cafe, Italian, Continental",700,NaN,NaN,NaN
2,Smacznego,Yes,No,4.2/5,504,Banashankari,Cafe,"Waffles, Pasta, Coleslaw Sandwich, Choco Waffl...","Cafe, Mexican, Italian, Momos, Beverages",550,Cafes,Banashankari,NaN
3,CafÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ© Down The A...,Yes,No,4.1/5,402,Banashankari,Cafe,"Waffles, Pasta, Crispy Chicken, Honey Chilli C...",Cafe,500,Cafes,Banashankari,Ã
4,Cafe Shuffle,Yes,Yes,4.2/5,150,Banashankari,Cafe,"Mocktails, Peri Fries, Lasagne, Pizza, Chicken...","Cafe, Italian, Continental",600,Cafes,Banashankari,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4372,Tata Cha,Yes,No,NEW,0,Whitefield,Cafe,NaN,"Cafe, Tea, North Indian",500,Dine-out,Whitefield,NaN
4373,Teashot,No,No,2.9 /5,24,Whitefield,Cafe,NaN,Cafe,150,Dine-out,Whitefield,NaN
4374,The Coffee Bean & Tea Leaf,Yes,No,3.0 /5,38,Whitefield,Cafe,NaN,"Cafe, Coffee",700,Dine-out,Whitefield,NaN
4375,Cafe Thulp,Yes,No,3.6 /5,57,"ITPL Main Road, Whitefield",Cafe,"Burgers, Pasta Alfredo, Pulled Pork Burger, Pizza","Cafe, Burger, Italian, Salad","1,000",Dine-out,Whitefield,NaN
4376,Re:fuel- Aloft Bengaluru Cessna Business Park,No,No,NaN,0,Bellandur,"Cafe, Bakery",NaN,"Bakery, Beverages, Cafe, Coffee, Desserts, San...","1,000",Dine-out,Whitefield,NaN

In [19]:
df['name_1'].value_counts(dropna=False)

NaN    4253
Ã      124
Name: name_1, dtype: int64

In [20]:
df

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type),Area_Name,name_1
0,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari,NaN
1,Penthouse Cafe,Yes,No,4.0/5,324,Banashankari,Cafe,"Pizza, Mocktails, Coffee, Nachos, Salad, Pasta...","Cafe, Italian, Continental",700,NaN,NaN,NaN
2,Smacznego,Yes,No,4.2/5,504,Banashankari,Cafe,"Waffles, Pasta, Coleslaw Sandwich, Choco Waffl...","Cafe, Mexican, Italian, Momos, Beverages",550,Cafes,Banashankari,NaN
3,CafÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ© Down The A...,Yes,No,4.1/5,402,Banashankari,Cafe,"Waffles, Pasta, Crispy Chicken, Honey Chilli C...",Cafe,500,Cafes,Banashankari,Ã
4,Cafe Shuffle,Yes,Yes,4.2/5,150,Banashankari,Cafe,"Mocktails, Peri Fries, Lasagne, Pizza, Chicken...","Cafe, Italian, Continental",600,Cafes,Banashankari,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4372,Tata Cha,Yes,No,NEW,0,Whitefield,Cafe,NaN,"Cafe, Tea, North Indian",500,Dine-out,Whitefield,NaN
4373,Teashot,No,No,2.9 /5,24,Whitefield,Cafe,NaN,Cafe,150,Dine-out,Whitefield,NaN
4374,The Coffee Bean & Tea Leaf,Yes,No,3.0 /5,38,Whitefield,Cafe,NaN,"Cafe, Coffee",700,Dine-out,Whitefield,NaN
4375,Cafe Thulp,Yes,No,3.6 /5,57,"ITPL Main Road, Whitefield",Cafe,"Burgers, Pasta Alfredo, Pulled Pork Burger, Pizza","Cafe, Burger, Italian, Salad","1,000",Dine-out,Whitefield,NaN
4376,Re:fuel- Aloft Bengaluru Cessna Business Park,No,No,NaN,0,Bellandur,"Cafe, Bakery",NaN,"Bakery, Beverages, Cafe, Coffee, Desserts, San...","1,000",Dine-out,Whitefield,NaN